<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.apartment.mapper.FzuFileMapper">

    <insert id="setStuImage" parameterType="FzuCompleteOrders" >
        insert into fzu_picture_save (order_id ,picture_type, correlation_person_id, picture_url) values
        <foreach collection="stuImagesURL" separator="," item="items">
            (
            #{repairId}, 1, #{studentId}, #{items}
            )
        </foreach>
    </insert>

    <insert id="setFirstRepairmanImage" parameterType="FzuCompleteOrders">
        insert into fzu_picture_save (order_id ,picture_type, correlation_person_id, picture_url) values
        <foreach collection="onceImagesURL" separator="," item="items">
            (
            #{repairId}, 2, #{firstRepairmanId}, #{items}
            )
        </foreach>
    </insert>

    <insert id="setSecondRepairmanImage" parameterType="FzuCompleteOrders">

        insert into fzu_picture_save (order_id ,picture_type, correlation_person_id, picture_url) values
        <foreach collection="secondImagesURL" separator="," item="items">
            (
            #{repairId}, 3, #{secondaryRepairmanId}, #{items}
            )
        </foreach>
    </insert>

</mapper>
