<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.apartment.mapper.FzuSysUserMapper">
    
    <resultMap type="FzuDormitoryInfo" id="FzuSysUserResult">
        <result property="userId"    column="user_id"    />
        <result property="dormId"    column="dorm_id"    />
        <result property="buildingNo"    column="building_no"    />
        <result property="roomNo"    column="room_no"    />
        <result property="userName"    column="user_name"    />
        <result property="niceName"    column="nick_name"    />
        <result property="sex"    column="sex"    />
        <result property="bedNo"    column="bed_no"    />
        <result property="deptId"    column="dept_id"    />
        <result property="province"    column="province"    />
        <result property="stuPhone"    column="phonenumber"    />
        <result property="feesCategory"    column="fees_category"    />
        <result property="feesStatus"    column="fees_status"    />
        <result property="dormStatus"    column="dorm_status"    />
        <result property="contactPerson"    column="contact_person"    />
        <result property="contactPhone"    column="contact_Phone"    />
        <result property="schoolRoll"    column="school_roll"    />
        <result property="schoolArea"    column="school_area"    />
    </resultMap>

    <resultMap type="FzuUserRoot" id="FzuUserRootResult">
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
    </resultMap>



    <sql id="selectFzuSysUserVo">
        SELECT u.user_id, d.dorm_id ,d.building_no, d.room_no, u.user_name, u.nick_name, u.sex,
               s.bed_no, u.dept_id, u.province, u.phonenumber, d.fees_category, d.fees_status,
               d.dorm_status, d.contact_person, d.contact_phone, u.school_roll,
               u.school_area
        FROM	fzu_dormitory d, sys_user u, fzu_student_dormitory s
    </sql>

    <select id="selectFzuSysUserList" parameterType="FzuDormitoryInfo" resultMap="FzuSysUserResult">
        <include refid="selectFzuSysUserVo"/>
        <where>  u.user_id = s.student_id AND s.dorm_id = d.dorm_id
            <if test="buildingNo != null "> and building_no = #{buildingNo}</if>
            <if test="roomNo != null "> and room_no = #{roomNo}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="niceName != null  and niceName != ''"> and nick_name like concat('%', #{niceName}, '%')</if>
            <if test="sex != null  and sex != ''"> and sex = #{sex}</if>
            <if test="bedNo != null  and bedNo != ''"> and bed_No = #{bedNo}</if>
            <if test="deptId != null  and deptId != ''"> and dept_Id = #{deptId}</if>
            <if test="province != null  and province != ''"> and province = #{province}</if>
            <if test="stuPhone != null  and stuPhone != ''"> and stu_Phone = #{stuPhone}</if>
            <if test="feesCategory != null  and feesCategory != ''"> and fees_category = #{feesCategory}</if>
            <if test="dormStatus != null  and dormStatus != ''"> and dorm_status = #{dormStatus}</if>
            <if test="contactPerson != null  and contactPerson != ''"> and cntact_person = #{contactPerson}</if>
            <if test="contactPhone != null  and contactPhone != ''"> and contact_phone = #{contactPhone}</if>
            <if test="schoolRoll != null  and schoolRoll != ''"> and school_roll = #{schoolRoll}</if>
            <if test="schoolArea != null  and schoolArea != ''"> and school_area = #{schoolArea}</if>
        </where>
    </select>

    <select id="selectFzuFdyUserList" parameterType="FzuDormitoryInfo" resultMap="FzuSysUserResult">
        SELECT fzu_dormitory.building_no, fzu_dormitory.room_no, sys_user.user_name, sys_user.nick_name, sys_user.sex,
               fzu_student_dormitory.bed_no, sys_user.dept_id, sys_user.province, sys_user.phonenumber, fzu_dormitory.fees_category, fzu_dormitory.fees_status,
               fzu_dormitory.dorm_status, fzu_dormitory.contact_person, fzu_dormitory.contact_phone, sys_user.school_roll,
               sys_user.school_area
        FROM	fzu_dormitory, sys_user, fzu_student_dormitory
        WHERE  fzu_student_dormitory.dorm_id = fzu_dormitory.dorm_id AND sys_user.dept_id = (SELECT sys_user.dept_id FROM sys_user WHERE sys_user.user_name = 222210141) AND sys_user.user_id = fzu_student_dormitory.student_id

    </select>
    
    <select id="selectFzuSysUserByUserId" parameterType="Long" resultMap="FzuSysUserResult">
        <include refid="selectFzuSysUserVo"/>
        where u.user_id = #{userId} AND u.user_id = s.student_id AND s.dorm_id = d.dorm_id
    </select>
        
    <insert id="insertFzuSysUser" parameterType="FzuDormitoryInfo" useGeneratedKeys="true" keyProperty="userId">
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userName != null and userName != ''">user_name,</if>
            <if test="niceName != null and niceName != ''">nick_name,</if>
            <if test="sex != null">sex,</if>
            <if test="deptId != null">dept_Id,</if>
            <if test="province != null">province,</if>
            <if test="stuPhone != null">phonenumber,</if>
            <if test="schoolRoll != null">school_roll,</if>
            <if test="schoolArea != null">school_area,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userName != null and userName != ''">#{userName},</if>
            <if test="niceName != null and niceName != ''">#{niceName},</if>
            <if test="sex != null">#{sex},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="province != null">#{province},</if>
            <if test="stuPhone != null">#{stuPhone},</if>
            <if test="schoolRoll != null">#{schoolRoll},</if>
            <if test="schoolArea != null">#{schoolArea},</if>
         </trim>
         <selectKey resultType="Long" order="AFTER" keyProperty="userId">
             select LAST_INSERT_ID()
         </selectKey>
    </insert>

    <update id="updateFzuSysUser" parameterType="FzuDormitoryInfo">
        update fzu_dormitory d, sys_user u, fzu_student_dormitory s
        <trim prefix="SET" suffixOverrides=",">
            <if test="buildingNo != null">d.building_no = #{buildingNo},</if>
            <if test="roomNo != null">d.room_no = #{roomNo},</if>
            <if test="userName != null">u.user_name = #{userName},</if>
            <if test="niceName != null">u.nick_name = #{niceName},</if>
            <if test="sex != null">u.sex = #{sex},</if>
            <if test="bedNo != null">s.bed_no = #{bedNo},</if>
            <if test="deptId != null">u.dept_id = #{deptId},</if>
            <if test="province != null">u.province = #{province},</if>
            <if test="stuPhone != null">u.phonenumber = #{stuPhone},</if>
            <if test="feesCategory != null">d.fees_category = #{feesCategory},</if>
            <if test="feesStatus != null">d.fees_status = #{feesStatus},</if>
            <if test="dormStatus != null">d.dorm_status = #{dormStatus},</if>
            <if test="contactPerson != null">d.contact_person = #{contactPerson},</if>
            <if test="contactPhone != null">d.contact_Phone = #{contactPhone},</if>
            <if test="schoolRoll != null">u.school_roll = #{schoolRoll},</if>
            <if test="schoolArea != null">u.school_area = #{schoolArea},</if>
        </trim>
        where u.user_id = #{userId} and u.user_id = s.student_id AND s.dorm_id = d.dorm_id
    </update>

    <delete id="deleteFzuSysUserByUserId" parameterType="Long">
        delete from sys_user where student_id = #{userId}
    </delete>

    <delete id="deleteFzuSysUserByUserIds" parameterType="Long">
        delete from fzu_student_dormitory where student_id in
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>

    <select id="getRoot" parameterType="String" resultMap="FzuUserRootResult">
        SELECT  start_time ,end_time
        FROM	sys_user
        where user_name = #{userName}
    </select>



    <select id="getRolesDeptId" parameterType="FzuDormitoryInfo" resultType="Long">
        SELECT  dept_id
        FROM	sys_user
        where user_name = #{userName}
    </select>

    <select id="selectUserIdByUserName" parameterType="FzuDormitoryInfo" resultType="Long">
        SELECT  user_id
        FROM	sys_user
        where user_name = #{userName}
    </select>

    <select id="selectDormIdByRoomInfo" parameterType="String" resultType="Long">
        SELECT  dorm_id
        FROM	fzu_dormitory
        where building_no = #{buildingNo} and room_no = #{roomNo}
    </select>

    <update id="updateFzuDormitory" parameterType="FzuDormitoryInfo">
        update fzu_dormitory
        <trim prefix="SET" suffixOverrides=",">
            <if test="buildingNo != null">building_no = #{buildingNo},</if>
            <if test="roomNo != null">room_no = #{roomNo},</if>
            <if test="feesCategory != null">fees_category = #{feesCategory},</if>
            <if test="dormStatus != null">dorm_status = #{dormStatus},</if>
            <if test="contactPerson != null">contact_person = #{contactPerson},</if>
            <if test="contactPhone != null">contact_phone = #{contactPhone},</if>
        </trim>
        where dorm_id = #{dormId}
    </update>

    <update id="updateFzuStudentDormitory" parameterType="FzuStudentDormitory">
        update fzu_student_dormitory
        <trim prefix="SET" suffixOverrides=",">
            <if test="dormId != null">dorm_id = #{dormId},</if>
            <if test="bedNo != null">bed_no = #{bedNo},</if>
        </trim>
        where student_id = #{userId}
    </update>

    <insert id="insertFzuStudentDormitory" parameterType="FzuDormitoryInfo">
        INSERT INTO fzu_student_dormitory (student_id, dorm_id, bed_no) SELECT #{userId}, #{dormId}, #{bedNo}
            WHERE NOT EXISTS (SELECT * FROM fzu_student_dormitory
            WHERE ((dorm_id = #{dormId} AND bed_no = #{bedNo}) OR (student_id = #{userId})
    </insert>

    <insert id="changAddDormStatus" parameterType="Long">
        update fzu_dormitory set dorm_status = 2 where dorm_id = #{dormId}
    </insert>

    <insert id="changDeleteDormStatus" parameterType="Long">
        UPDATE fzu_dormitory SET dorm_status = 1 WHERE dorm_id = #{dormId} AND ((SELECT dorm_id FROM fzu_student_dormitory WHERE dorm_id =  #{dormId}) IS NULL)
    </insert>

    <insert id="insertFzuDormitory" parameterType="FzuDormitoryInfo" useGeneratedKeys="true" keyProperty="dormId">
        insert into fzu_dormitory
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="buildingNo != null">building_no,</if>
            <if test="roomNo != null">room_no,</if>
            <if test="feesCategory != null">fees_category,</if>
            <if test="dormStatus != null">dorm_status,</if>
            <if test="contactPerson != null">contact_person,</if>
            <if test="contactPhone != null">contact_phone,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="buildingNo != null">#{buildingNo},</if>
            <if test="roomNo != null">#{roomNo},</if>
            <if test="feesCategory != null">#{feesCategory},</if>
            <if test="dormStatus != null">#{dormStatus},</if>
            <if test="contactPerson != null">#{contactPerson},</if>
            <if test="contactPhone != null">#{contactPhone},</if>
        </trim>
    </insert>

    <select id="getDormIdByUserId" parameterType="Long">
        SELECT dorm_id FROM fzu_student_dormitory WHERE student_id = #{userId}
    </select>

    <select id="selectOne" parameterType="FzuDormitoryInfo" resultMap="FzuSysUserResult">
        select student_id as user_id,dorm_id from fzu_student_dormitory
        <where>
            <if test="userId != null "> and student_id = #{userId}</if>
            <if test="dormId != null "> and dorm_id = #{dormId}</if>
        </where>
    </select>
</mapper>