<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.apartment.mapper.FzuStuDormitoryMapper">
    
    <resultMap type="FzuStuDormitory" id="FzuStuDormitoryResult">
        <result property="dormId"    column="dorm_id"    />
        <result property="buildingNo"    column="building_no"    />
        <result property="roomNo"    column="room_no"    />
        <result property="fees"    column="fees"    />
        <result property="feesStatus"    column="fees_status"    />
        <result property="feesCategory"    column="fees_category"    />
        <result property="dormStatus"    column="dorm_status"    />
        <result property="contactPerson"    column="contact_person"    />
        <result property="contactPhone"    column="contact_phone"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectFzuStuDormitoryVo">
        select dorm_id, building_no, room_no, fees, fees_status, fees_category, dorm_status, contact_person, contact_phone, remark from fzu_studormitory
    </sql>

    <select id="selectFzuStuDormitoryList" parameterType="String" resultMap="FzuStuDormitoryResult">
        SELECT fzu_dormitory.dorm_id, fzu_dormitory.building_no, fzu_dormitory.room_no, fzu_dormitory.fees, fzu_dormitory.fees_status, fzu_dormitory.fees_category, fzu_dormitory.dorm_status, fzu_dormitory.contact_person, fzu_dormitory.contact_phone, fzu_dormitory.remark
        FROM sys_user, fzu_dormitory, fzu_student_dormitory
        WHERE sys_user.user_name = #{username} AND
                fzu_dormitory.dorm_id = (SELECT fzu_student_dormitory.dorm_id FROM fzu_student_dormitory WHERE  fzu_student_dormitory.student_id =
                                                                                                                (SELECT sys_user.user_id  FROM sys_user WHERE sys_user.user_name = #{username}))
    </select>
    
    <select id="selectFzuStuDormitoryByDormId" parameterType="Long" resultMap="FzuStuDormitoryResult">
        <include refid="selectFzuStuDormitoryVo"/>
        where dorm_id = #{dormId}
    </select>
        
    <insert id="insertFzuStuDormitory" parameterType="FzuStuDormitory" useGeneratedKeys="true" keyProperty="dormId">
        insert into fzu_studormitory
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="buildingNo != null">building_no,</if>
            <if test="roomNo != null">room_no,</if>
            <if test="fees != null">fees,</if>
            <if test="feesStatus != null">fees_status,</if>
            <if test="feesCategory != null">fees_category,</if>
            <if test="dormStatus != null">dorm_status,</if>
            <if test="contactPerson != null">contact_person,</if>
            <if test="contactPhone != null">contact_phone,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="buildingNo != null">#{buildingNo},</if>
            <if test="roomNo != null">#{roomNo},</if>
            <if test="fees != null">#{fees},</if>
            <if test="feesStatus != null">#{feesStatus},</if>
            <if test="feesCategory != null">#{feesCategory},</if>
            <if test="dormStatus != null">#{dormStatus},</if>
            <if test="contactPerson != null">#{contactPerson},</if>
            <if test="contactPhone != null">#{contactPhone},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateFzuStuDormitory" parameterType="FzuStuDormitory">
        update fzu_studormitory
        <trim prefix="SET" suffixOverrides=",">
            <if test="buildingNo != null">building_no = #{buildingNo},</if>
            <if test="roomNo != null">room_no = #{roomNo},</if>
            <if test="fees != null">fees = #{fees},</if>
            <if test="feesStatus != null">fees_status = #{feesStatus},</if>
            <if test="feesCategory != null">fees_category = #{feesCategory},</if>
            <if test="dormStatus != null">dorm_status = #{dormStatus},</if>
            <if test="contactPerson != null">contact_person = #{contactPerson},</if>
            <if test="contactPhone != null">contact_phone = #{contactPhone},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where dorm_id = #{dormId}
    </update>

    <delete id="deleteFzuStuDormitoryByDormId" parameterType="Long">
        delete from fzu_studormitory where dorm_id = #{dormId}
    </delete>

    <delete id="deleteFzuStuDormitoryByDormIds" parameterType="String">
        delete from fzu_studormitory where dorm_id in 
        <foreach item="dormId" collection="array" open="(" separator="," close=")">
            #{dormId}
        </foreach>
    </delete>
</mapper>