<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.FzuDormitoryMapper">
    
    <resultMap type="FzuDormitory" id="FzuDormitoryResult">
        <result property="dormId"    column="dorm_id"    />
        <result property="buildingNo"    column="building_no"    />
        <result property="roomNo"    column="room_no"    />
        <result property="fees"    column="fees"    />
        <result property="feesStatus"    column="fees_status"    />
        <result property="feesCategory"    column="fees_category"    />
        <result property="dormStatus"    column="dorm_status"    />
        <result property="contactPerson"    column="contact_person"    />
        <result property="contactPhone"    column="contact_phone"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectFzuDormitoryVo">
        select dorm_id, building_no, room_no, fees, fees_status, fees_category, dorm_status, contact_person, contact_phone, remark from fzu_dormitory
    </sql>

    <select id="selectFzuDormitoryList" parameterType="FzuDormitory" resultMap="FzuDormitoryResult">
        <include refid="selectFzuDormitoryVo"/>
        <where>  
            <if test="buildingNo != null  and buildingNo != ''"> and building_no = #{buildingNo}</if>
            <if test="roomNo != null  and roomNo != ''"> and room_no = #{roomNo}</if>
            <if test="fees != null "> and fees = #{fees}</if>
            <if test="feesStatus != null  and feesStatus != ''"> and fees_status = #{feesStatus}</if>
            <if test="feesCategory != null  and feesCategory != ''"> and fees_category = #{feesCategory}</if>
            <if test="dormStatus != null  and dormStatus != ''"> and dorm_status = #{dormStatus}</if>
            <if test="contactPerson != null  and contactPerson != ''"> and contact_person = #{contactPerson}</if>
            <if test="contactPhone != null  and contactPhone != ''"> and contact_phone = #{contactPhone}</if>
        </where>
    </select>
    
    <select id="selectFzuDormitoryByDormId" parameterType="Long" resultMap="FzuDormitoryResult">
        <include refid="selectFzuDormitoryVo"/>
        where dorm_id = #{dormId}
    </select>
        
    <insert id="insertFzuDormitory" parameterType="FzuDormitory" useGeneratedKeys="true" keyProperty="dormId">
        insert into fzu_dormitory
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="buildingNo != null">building_no,</if>
            <if test="roomNo != null">room_no,</if>
            <if test="fees != null">fees,</if>
            <if test="feesStatus != null">fees_status,</if>
            <if test="feesCategory != null">fees_category,</if>
            <if test="dormStatus != null">dorm_status,</if>
            <if test="contactPerson != null">contact_person,</if>
            <if test="contactPhone != null">contact_phone,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="buildingNo != null">#{buildingNo},</if>
            <if test="roomNo != null">#{roomNo},</if>
            <if test="fees != null">#{fees},</if>
            <if test="feesStatus != null">#{feesStatus},</if>
            <if test="feesCategory != null">#{feesCategory},</if>
            <if test="dormStatus != null">#{dormStatus},</if>
            <if test="contactPerson != null">#{contactPerson},</if>
            <if test="contactPhone != null">#{contactPhone},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateFzuDormitory" parameterType="FzuDormitory">
        update fzu_dormitory
        <trim prefix="SET" suffixOverrides=",">
            <if test="buildingNo != null">building_no = #{buildingNo},</if>
            <if test="roomNo != null">room_no = #{roomNo},</if>
            <if test="fees != null">fees = #{fees},</if>
            <if test="feesStatus != null">fees_status = #{feesStatus},</if>
            <if test="feesCategory != null">fees_category = #{feesCategory},</if>
            <if test="dormStatus != null">dorm_status = #{dormStatus},</if>
            <if test="contactPerson != null">contact_person = #{contactPerson},</if>
            <if test="contactPhone != null">contact_phone = #{contactPhone},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where dorm_id = #{dormId}
    </update>

    <delete id="deleteFzuDormitoryByDormId" parameterType="Long">
        delete from fzu_dormitory where dorm_id = #{dormId}
    </delete>

    <delete id="deleteFzuDormitoryByDormIds" parameterType="String">
        delete from fzu_dormitory where dorm_id in 
        <foreach item="dormId" collection="array" open="(" separator="," close=")">
            #{dormId}
        </foreach>
    </delete>
</mapper>